.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    flex: 0 0 auto; // Header ocupa su tamaño natural
}

.main-content {
    scrollbar-gutter: stable both-edges;
    flex: 1 1 auto; // Main content ocupa el espacio restante
    overflow-y: auto;
    box-sizing: border-box;
}

.footer {
    flex: 0 0 auto; // Footer ocupa su tamaño natural
}

.router {
    // background-color: antiquewhite;
    align-content: flex-start;
    justify-content: center;
    // padding: 16px; // Agrega un padding al contenido dinámico
}

.main-content::-webkit-scrollbar {
    display: none; // Chrome, Safari y Edge
}

/* Contenedor principal */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
}

/* Cuando el contenido normal está oculto */
.app-container.hidden {
    transform: translateY(-100%);
    /* Desplaza hacia arriba */
}

/* Contenedor del contenido oculto */
.hidden-container {
    position: fixed;
    top: 100%;
    /* Inicialmente fuera de la vista */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: inherit;
    /* Usa el mismo fondo que el tema */
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
}

.hidden-container.visible {
    transform: translateY(-100%);
    /* Desplaza hacia arriba */
}

/* Áreas de hover */
.hover-area {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    /* Altura de la zona de hover */
    /* Fondo semi-transparente */
    cursor: pointer;
    z-index: 1001;
    transition: background-color 0.3s ease-in-out;
}

.hover-area:hover {
    background-color: rgba(0, 0, 0, 0.2);
    /* Cambia el color al pasar el mouse */
}

.hover-area.top {
    top: 0;
    /* Posición en la parte superior */
}

.hover-area.bottom {
    bottom: 0;
    /* Posición en la parte inferior */
}

/* Preview del contenido */
.app-container.preview {
    transform: translateY(-50%);
    /* Muestra solo la mitad del contenido normal */
}

.hidden-container.preview {
    transform: translateY(-50%);
    /* Muestra solo la mitad del contenido oculto */
}