<!-- Contenido Normal -->
<div class="app-container" [class.hidden]="isContentHidden()">
  <!-- Encabezado -->
  <app-header></app-header>

  <!-- Contenido Principal -->
  <main class="main-content">
    <router-outlet #myOutlet="outlet"></router-outlet>
  </main>
  <app-conversmarthub-page></app-conversmarthub-page>

  <!-- Pie de Página -->
  <app-footer></app-footer>

  <!-- Área de hover en la parte inferior -->
  <div class="hover-area bottom" (mouseenter)="showPreview()" (mouseleave)="hidePreview()" (click)="toggleContent()">
  </div>
</div>

<!-- Contenido Oculto -->
<div class="hidden-container" [class.visible]="isContentHidden()">
  @defer (on viewport) {
  <app-about-minimal-page></app-about-minimal-page>
  } @placeholder {
  <div class="placeholder">Cargando contenido oculto...</div>
  }

  <!-- Área de hover en la parte superior -->
  <div class="hover-area top" (mouseenter)="showPreview()" (mouseleave)="hidePreview()" (click)="toggleContent()"></div>
</div>