@use '@angular/material' as mat;

.header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1000;
    background: transparent;
    transition: background 0.3s ease, box-shadow 0.3s ease;

    &.scrolled {
        /* Fondo semi-transparente */
        background: rgba(255, 255, 255, 0.07);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Predeterminado
    }

    .brand {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .spacer {
        flex: 1 1 auto;
    }

    button {
        margin: 0 8px;
    }


}