.footer {
    display: flex;
    align-items: center;
    background: transparent;
    flex-wrap: wrap;
    // position: absolute;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    /* Añade algo de padding si es necesario */
}

.divider {
    font-size: 1.2rem;
    margin: 0 4px;
    margin-right: 12px;
}