.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    flex-wrap: wrap;
    position: absolute;
    // position: sticky;
    bottom: 0;
    width: auto;
    pointer-events: none; // Hace que el contenedor no bloquee clics

    button,
    a {
        pointer-events: all; // Solo los botones son clickeables
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-2px);
        }
    }
}